Soap/WebApiSln/CarsWcfService.Tests/Connected Services/CarsServiceReference/CarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31369/CarsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31369/CarsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31369/CarsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarsWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarsService_AddCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="ICarsService_AddCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarsService_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="ICarsService_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarsService">
    <wsdl:operation name="AddCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarsService/AddCar" message="tns:ICarsService_AddCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarsService/AddCarResponse" message="tns:ICarsService_AddCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarsService/GetCars" message="tns:ICarsService_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarsService/GetCarsResponse" message="tns:ICarsService_GetCars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarsService" type="tns:ICarsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/ICarsService/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/ICarsService/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarsService">
    <wsdl:port name="BasicHttpBinding_ICarsService" binding="tns:BasicHttpBinding_ICarsService">
      <soap:address location="http://localhost:31369/CarsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>