Soap/WebApiSln/CarsWcfService.Tests/Connected Services/CarsServiceReference/CarsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31369/CarsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarsWcfService" />
  <xs:element name="AddCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarsWcfService" minOccurs="0" name="car" nillable="true" type="q1:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarsWcfService" minOccurs="0" name="GetCarsResult" nillable="true" type="q2:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>